
<div class="page_section" id="theformpage">
    <div id="metapage">
        <div class="wrapper">
            <h1 class="page-title fl">Change Password</h1>
            <div class="breadcumb fr">
                <a href="index.php">Home</a> <span>/</span> <a>Log In or Join</a>
            </div>
        </div><!-- end .wrapper -->   
    </div><!-- end #metapage -->
    <div id="theform" class="section"> 
        <div class="wrapper">
        	<div class="col">
			
            <form class="theforms" id="loginForm" name="Form2" method="POST" action="">
                <div class="rows">
                  <img src="{$basedomain}assets/images/logo_creasi.png" />
                  <h4>Website-nya orang kreatif mencari kerja</h4>
                </div><!-- end .rows -->    
                <div class="rows">
                    <a href="index.php?page=join" class="button2"><span>JOIN</span></a>
                </div><!-- end .rows -->
                <div class="rows">
                   <span>OR</span>
				   <label style="color:red" >{$msg}</label>
                </div><!-- end .rows -->
                <div class="greybox">    
                    <div class="rows">
					  <input name="data"  type="hidden" id="data" maxlength="20" value="{$data}"> 
						<input name="password" value="{$password}" placeholder="Password" type="password" id="password" maxlength="20">
				
                    </div><!-- end .rows -->    
                    <div class="rows">
						<input name="confirmpassword" placeholder="Confirm Password" type="password" id="confirmpassword" maxlength="20">
               
                    </div><!-- end .rows -->       
                    <div class="rows">
                   
                        <input  class="button1 fr" type="submit" name="Submit" value="submit">
						  <input type="hidden" name="submit" value="1">
                    </div><!-- end .rows -->  
                </div>  <!-- end .greybox -->
            </form>
            </div><!-- end .col -->   
        </div><!-- end .wrapper -->    
    </div><!-- end #theform --> 
</div><!-- end #theformpage -->
