
<div class="page_section" id="theformpage">
    <div id="theform" class="section"> 
        <div class="wrapper">
        	<div class="col">
            <form class="theformsresend" id="loginForm" name="Form2" method="POST" action="{$basedomain}resend">
                <div class="rows">
                  <img src="{$basedomain}assets/images/logo.png" />
                  <h4>Website-nya orang kreatif mencari kerja</h4>
                </div><!-- end .rows -->    
                <div class="rows">
                    <h3 class="blocktitle">RESEND VERIFICATION EMAIL</h3>
					<label style="color:red">{$msg}</label>
                </div><!-- end .rows -->
                <div class="greybox">    
                    <div class="rows">
                      <input name="email" placeholder="Enter your email address" autocomplete="off"  type="text" id="email" maxlength="55"> 
                    
                    </div><!-- end .rows -->       
                    <div class="rows">
			<input type="hidden" name="submit" value="1">
                        <input type="submit" class="button1 fr submit submitresend" value="SUBMIT" />
						  
                    </div><!-- end .rows -->  
                </div>  <!-- end .greybox -->
            </form>
            </div><!-- end .col -->   
        </div><!-- end .wrapper -->    
    </div><!-- end #theform --> 
</div><!-- end #theformpage -->
<script>
{literal}
var klik=0;
	$('.submitresend').click(function()
		{
			if(klik==0)
			{
				$('.theformsresend').trigger('submit');
				//$(this).attr('disabled','disabled');
				klik=1;
			}
		});

{/literal}
</script>
